html{
  scroll-behavior: smooth;
}

@font-face{
  font-family: "Osgood";
  /* src: url("../OsgoodSans-Regular.woff2"); */
  /* src: url("../OsgoodSans-Regular.otf"); */
  src: url("../SFProDisplay-Regular.ttf");
}

body{
  font-family: "Osgood";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #707070;
  background-color: #f2f2f2;
}

.bar{
  display: flex;
  flex-direction: row;
}

.bar .logo{
  width: 40%;
  padding: 20px;
  text-align: center;
}

.bar .logo img{
  width: 40px;
  height: 40px;
}

.navbar{
  flex-direction: row;
  flex: 1;
  padding: 20px;
  text-align: center;
}

.navbar a{
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #707070;
  transition: filter .3s ease-in-out;
}

.navbar a:hover{
  filter: brightness(1.3);
}

.sec1{
  min-height: 600px;
}

.sec1-txt{
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sec1-isi{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
  /* background-color: yellow; */
}

.sec1 img{
  opacity: 0.5;
  position: relative;
  margin-top: 40px;
}

.sec1 .txt1{
  font-size: 60px;
}

.sec1 .txt2{
  font-size: 30px;
}

.sec2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 600px;
  justify-content: center;
}

.sec2-gbr img{
  width: 200px;
  height: 200px;
}

.sec2-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.sec2-txt .txt1{
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sec2-txt .txt2{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.sec3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 600px;
  justify-content: center;
}

.sec3 .txt1{
  font-size: 40px;
}

.sec3-isi{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

.carousel{
  background: #EEE;
  width: 80%;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  display: flex;
}

.carousel-cell:hover img{
  filter: brightness(0.3);
}

.carousel-cell:hover .cc-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-cell img {
  height: 200px;
  display: block;
  transition: filter .3s ease-in-out;
}

.carousel-cell .cc-txt{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.cc-txt .txt1{
  font-size: 30px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.sec4{
  display: flex;
  flex-direction: row;
  padding: 50px;
  min-height: 600px;
  justify-content: center;
}

.sec4 .kiri{
  width: 50%;
  padding: 20px;
}

.form-mail{
  display: flex;
  flex-direction: column;
}

.form-mail input, .form-mail textarea, .form-mail button{
  padding: 8px;
  font-family: inherit;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-mail button{
  border: none;
  background-color: #e5e5e5;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.form-mail button:hover{
  background-color: #d3d3d3;
}

.form-judul{
  font-size: 40px;
  margin-bottom: 10px;
}

.sec4 .kanan{
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sec4 .kanan .judul{
  font-size: 40px;
  margin-bottom: 10px;
}

.sec4 .kanan .txt{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sec4 .kanan .txt span{
  font-size: 18px;
  font-weight: bold;
}

.sec4 .kanan .wa img{
  width: 20px;
  height: 20px;
}

.sec4 .kanan .logo{
  margin-top: 5px;
  margin-bottom: 5px;
}

.sec4 .kanan .logo a{
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.sec4 .kanan .logo img{
  width: 30px;
  height: 30px;
}

.btnUp{
  display: none;
  position: fixed;
  text-align: right;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  transition: filter .3s ease-in-out;
  filter: brightness(1.2);
}

.btnUp img{
  width: 50px;
  height: 50px;
}

.btnUp:hover{
  filter: brightness(1.3);
}